{% extends 'base.html' %}
{% block start %}
{% load static %}
<section class="banner-main-con" id="home">
   <div class="container pl-0 pr-0">
      <!--banner-start-->
      <div class="footer-social-icon banner-social-icon mb-0">
         <ul class="mb-0 list-unstyled">
            <li class="">
               <a href="https://www.instagram.com/its_samar_7379/" target="_blank"><i
                     class="fab fa-instagram d-flex align-items-center justify-content-center"></i></a>
            </li>

            <li class="mt-3 mb-3">
               <a href="https://www.facebook.com/anilkumar.anilchaurasiya.3" target="_blank"><i
                     class="fab fa-facebook d-flex align-items-center justify-content-center ml-0 mr-0 "></i></a>
            </li>
            <li class="">
               <a href="https://www.linkedin.com/in/anil-chaurasiya/" target="_blank"><i
                     class="fab fa-linkedin-in d-flex align-items-center justify-content-center"></i></a>
            </li>
         </ul>
      </div>
      <div class="banner-con text-lg-left text-center">
         <div class="row">
            <div class="col-lg-7 col-sm-12 d-flex justify-content-center flex-column">
               <div class="banner-left-con wow slideInLeft">
                  <div class="banner-heading">
                     <h2>Hello, I Am</h2>
                     <ul class="dynamic-txts">
                        <li>
                           <h1>Anil 84Ya</h1>
                        </li>
                        <li>
                           <h1>Anil 84Ya</h1>
                        </li>
                        <li>
                           <h1>Anil 84Ya</h1>
                        </li>
                        <li>
                           <h1>Anil 84Ya</h1>
                        </li>
                     </ul>
                     <p>Crafting Innovative, Responsive, and User-Centric Web Solutions to Elevate Your Online Presence
                        and Business Success.
                     </p>
                  </div>
                  <div class="banner-btn generic-btn d-inline-block">
                     <a href="#Contact">Hire Me</a>
                  </div>
                  <a href="#Portfolio" class="See-btn">See My Work</a>
               </div>
            </div>
            <div class="col-lg-5 col-sm-12">
               <div class="banner-right-con position-relative wow slideInRight" id="banner-right-con">
                  <figure class="mb-0">
                     <img src="{% static 'images/banner-right-img.png' %}" alt="banner-right-img" id="banner-right-img">
                  </figure>
                  <div class="best-award-con d-inline-block wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s">
                     <div class="best-award-inner-con">
                        <figure class="mb-0">
                           <img src="{% static 'images/cup-img.png' %}" alt="cup-img" class="img-fluid">
                        </figure>
                        <div class="best-award-title">
                           <p class="mb-0">Best Design<br>
                              Award.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="best-award-con d-inline-block happy-con wow bounceInUp " data-wow-duration="1s"
                     data-wow-delay="1s">
                     <div class="best-award-inner-con text-center">
                        <figure>
                           <img src="{% static 'images/admin-icon.png' %}" alt="admin-icon" class="img-fluid">
                        </figure>
                        <div class="best-award-title d-inline-block ml-0">
                           <p class="mb-0 d-inline-block count">4</p>
                           <p class="mb-0 d-inline-block">k+</p>
                           <span class="d-block">Happy<br>
                              Customers</span>
                        </div>
                     </div>
                  </div>
                  <div class="cursor"></div>
                  <div class="cursor2"></div>
               </div>
            </div>
         </div>
      </div>
      <!--banner-end-->
   </div>
</section>
</div>
</div>
<!---header-and-banner-section-->
<!-- service section -->
<section class="w-100 float-left service-con padding-top padding-bottom position-relative" id="service-con">
   <div class="container">
      <div class="service-inner-con position-relative">
         <div class="generic-title text-center">
            <h6>My Skills</h6>
            <h2 class="mb-0">Provide Wide Range of<br>
               Digital Services
            </h2>
         </div>
         <div class="service-box wow fadeInUp">
            <div class="row mb-10">
               <div class="col-lg-4 col-md-4 mb-10">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/html5.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>HTML</h4>

                           <!-- <a href="#" data-toggle="modal" data-target="#web-development">Read More</a> -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/css-3.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>CSS</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/bootstrap.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>Bootstrap</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- </div>
           
            <div class="row mb-10"> -->
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/javaScript.png' %}" alt="service-icon" width="80"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>JavaScript</h4>

                           <!-- <a href="#" data-toggle="modal" data-target="#web-development">Read More</a> -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/reactjs.png' %}" alt="service-icon" width="80"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>React Js</h4>

                           <!-- <a href="#" data-toggle="modal" data-target="#web-development">Read More</a> -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/python_logo.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>Python</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/php.png' %}" alt="service-icon" width="80"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>PHP</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- </div>

            <div class="row mb-10"> -->
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/nodejs.png' %}" alt="service-icon" width="80"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>Node Js</h4>

                           <!-- <a href="#" data-toggle="modal" data-target="#web-development">Read More</a> -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/django-1.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>Django</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/laravel-icon.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>Laravel</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/codeigniter-icon.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>Codeigniter</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/mongodb.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>MongoDB</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/mysql.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>Mysql</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/free-firebase.png' %}" width="90" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>Firebase</h4>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="service-box-item">
                     <div class="row">
                        <figure class="mb-0">
                           <img src="{% static 'skills_icon/github.png' %}" width="80" alt="service-icon"
                              class="img-fluid">
                        </figure>
                     </div>
                     <div class="row d-flex justify-content-center">
                        <div class="service-box-item-content">
                           <h4>Git/Github</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- service section -->
<!-- skill section -->
<section class="w-100 float-left skill-con padding-top padding-bottom position-relative" id="about-con">
   <div class="container">
      <div class="skill-inner-con position-relative">
         <div class="row">
            <div class="col-lg-6 order-lg-0 order-2">
               <div class="skill-left-con text-center wow slideInLeft">
                  <div class="row service-skill-sttaf-con">
                     <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="skill-left-item-con">
                           <div class="circle-wrap firstPercentage">
                              <div class="circle">
                                 <div class="mask full">
                                    <div class="fill"></div>
                                 </div>
                                 <div class="mask half">
                                    <div class="fill"></div>
                                 </div>
                                 <div class="inside-circle">
                                    <div class="service-skill-sttaf-item-con">
                                       <div
                                          class="service-skill-sttaf-item-title service-skill-sttaf-item1-con d-flex align-items-center justify-content-center">
                                          <h4 class="d-table-cell align-middle mb-0 text-center count">85</h4>
                                          <span class="static-txt2">%</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="service-skill-sttaf-item-heading">
                              <p class="mb-0">Python with Django</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="skill-left-item-con">
                           <div class="circle-wrap secondPercentage">
                              <div class="circle">
                                 <div class="mask full">
                                    <div class="fill"></div>
                                 </div>
                                 <div class="mask half">
                                    <div class="fill"></div>
                                 </div>
                                 <div class="inside-circle">
                                    <div class="service-skill-sttaf-item-con">
                                       <div
                                          class="service-skill-sttaf-item-title service-skill-sttaf-item2-con text-center d-flex align-items-center justify-content-center">
                                          <h4 class=" mb-0 text-center count">75</h4>
                                          <span class=" static-txt2">%</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="service-skill-sttaf-item-heading">
                              <p class="mb-0">PHP with Codeigniter</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row service-skill-sttaf-con">
                     <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="skill-left-item-con">
                           <div class="circle-wrap thirdPercentage">
                              <div class="circle">
                                 <div class="mask full">
                                    <div class="fill"></div>
                                 </div>
                                 <div class="mask half">
                                    <div class="fill"></div>
                                 </div>
                                 <div class="inside-circle">
                                    <div class="service-skill-sttaf-item-con">
                                       <div
                                          class="service-skill-sttaf-item-title service-skill-sttaf-item1-con d-flex align-items-center justify-content-center">
                                          <h4 class="d-table-cell align-middle mb-0 text-center count">80</h4>
                                          <span class="static-txt2">%</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="service-skill-sttaf-item-heading">
                              <p class="mb-0">PHP with Laravel</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 col-12 ">
                        <div class="skill-left-item-con">
                           <div class="circle-wrap fourPercentage">
                              <div class="circle">
                                 <div class="mask full">
                                    <div class="fill"></div>
                                 </div>
                                 <div class="mask half">
                                    <div class="fill"></div>
                                 </div>
                                 <div class="inside-circle">
                                    <div class="service-skill-sttaf-item-con">
                                       <div
                                          class="service-skill-sttaf-item-title service-skill-sttaf-item2-con text-center d-flex align-items-center justify-content-center">
                                          <h4 class=" mb-0 text-center count">80</h4>
                                          <span class=" static-txt2">%</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="service-skill-sttaf-item-heading">
                              <p class="mb-0">React Js</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
               <div class="skill-right-con wow slideInRight">
                  <h6>My Expertise</h6>
                  <h2>Beautiful &amp; Unique
                     Digital Experiences
                  </h2>
                  <p>A web developer is a specialized programmer focused on developing applications and websites for the
                     World Wide Web. Their role encompasses a variety of tasks, including coding, designing, and
                     maintaining websites and web applications to ensure optimal performance, user experience, and
                     functionality.
                  </p>
                  <!-- <p>Quia voluptas sit aspernatur aut odit aut fugit, sed ruiano
                      consequntar magni dolores.
                   </p> -->
                  <div class="generic-btn download-bnt">
                     <a href="#" id="downloadImg" onclick="downloadImage()">Download CV</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- skill section -->
<!-- portfolio section -->
<section class="w-100 float-left portfolio-con padding-top" id="Portfolio">
   <div class="container">
      <div class="generic-title text-center">
         <h6 class="text-white">Creative Works</h6>
         <h2 class="mb-0 text-white">Check My Portfolio</h2>
      </div>
      <div id="myBtnContainer" class="text-center">
         <button class=" active active_button" onclick="filterSelection('all')"> All </button>
         <button class="" onclick="filterSelection('cars')">Products </button>
         <button class="" onclick="filterSelection('animals')">Web App</button>
         <button class="" onclick="filterSelection('fruits')"> Inetraction </button>
         <button class="" onclick="filterSelection('colors')">Brand Identity</button>
      </div>
   </div>
</section>
<!-- portfolio section -->
<!-- portfolio section -->
<section class="w-100 float-left portfolio-body-con">
   <div class="container">
      <div class="portfolio-img-con position-relative w-100 float-left wow fadeInUp">
         <div class="filterDiv cars position-relative show">
            <a href="#" data-toggle="modal" data-target="#modalWPWAF">
               <div class="portfolio-img position-relative">
                  <figure>
                     <img src="{% static 'images/portfolio-img1.png' %}" alt="portfolio-img1" class="img-fluid">
                  </figure>
               </div>
            </a>
            <div class="portfolio-img-content text-left">
               <div class="portfolio-img-title d-inline-block">
                  <h4>Application UI Design</h4>
                  <p>Dolar repellendus temporibus...</p>
               </div>
               <a href="#" class="float-lg-right" data-toggle="modal" data-target="#modalWPWAF-icon">
                  <i class="fas fa-arrow-right d-flex align-items-center justify-content-center"></i>
               </a>
            </div>

         </div>
         <div class="filterDiv colors fruits position-relative show">
            <a href="#" data-toggle="modal" data-target="#modalporfolio2">
               <div class="portfolio-img position-relative">
                  <figure>
                     <img src="{% static 'images/portfolio-img2.png' %}" alt="portfolio-img1" class="img-fluid">
                  </figure>
               </div>
            </a>
            <div class="portfolio-img-content text-left">
               <div class="portfolio-img-title d-inline-block">
                  <h4>Furni furniture UI Design</h4>
                  <p>Dolar repellendus temporibus...</p>
               </div>
               <a href="#" class="float-lg-right" data-toggle="modal" data-target="#modalporfolio2-icon">
                  <i class="fas fa-arrow-right d-flex align-items-center justify-content-center"></i>
               </a>
            </div>

         </div>
         <div class="filterDiv cars position-relative show">
            <a href="#" data-toggle="modal" data-target="#modalporfolio3">
               <div class="portfolio-img position-relative">
                  <figure>
                     <img src="{% static 'images/portfolio-img3.png' %}" alt="portfolio-img1" class="img-fluid">
                  </figure>
               </div>
            </a>
            <div class="portfolio-img-content text-left">
               <div class="portfolio-img-title d-inline-block">
                  <h4>Mobile UI Design</h4>
                  <p>Dolar repellendus temporibus...</p>
               </div>
               <a href="#" class="float-lg-right" data-toggle="modal" data-target="#modalporfolio3-icon"><i
                     class="fas fa-arrow-right d-flex align-items-center justify-content-center"></i></a>
            </div>

         </div>
         <div class="filterDiv colors position-relative show">
            <a href="#" data-toggle="modal" data-target="#modalporfolio4">
               <div class="portfolio-img position-relative">
                  <figure>
                     <img src="{% static 'images/portfolio-img4.png' %}" alt="portfolio-img1" class="img-fluid">
                  </figure>
               </div>
            </a>
            <div class="portfolio-img-content text-left">
               <div class="portfolio-img-title d-inline-block">
                  <h4>Businesscard UI Design</h4>
                  <p>Dolar repellendus temporibus...</p>
               </div>
               <a href="#" class="float-lg-right" data-toggle="modal" data-target="#modalporfolio4-icon"><i
                     class="fas fa-arrow-right d-flex align-items-center justify-content-center"></i></a>
            </div>

         </div>
         <div class="filterDiv cars animals position-relative show">
            <a href="#" data-toggle="modal" data-target="#modalporfolio5">
               <div class="portfolio-img position-relative">
                  <figure>
                     <img src="{% static 'images/portfolio-img5.png' %}" alt="portfolio-img1" class="img-fluid">
                  </figure>
               </div>
            </a>
            <div class="portfolio-img-content text-left">
               <div class="portfolio-img-title d-inline-block">
                  <h4>Real estate UI Design</h4>
                  <p>Dolar repellendus temporibus...</p>
               </div>
               <a href="#" class="float-lg-right" data-toggle="modal" data-target="#modalporfolio5-icon"><i
                     class="fas fa-arrow-right d-flex align-items-center justify-content-center"></i></a>
            </div>

         </div>
      </div>
   </div>
</section>
<!-- portfolio section -->
<!-- tastimonials section -->
<!-- <section class="w-100 float-left padding-top padding-bottom tastimonials-con position-relative text-lg-left text-center" id="testimonials">
    <div class="container">
       <div class="row">
          <div class="col-lg-5">
             <div class="tastimonials-left-con wow slideInLeft">
                <figure class="mb-0">
                   <img src="{% static 'images/tastimonials-img.png' %}" alt="tastimonials-img" class="img-fluid">
                </figure>
             </div>
          </div>
          <div class="col-lg-7">
             <div id="carouselExampleControls" class="carousel slide wow slideInRight" data-ride="carousel">
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <div class="testimonials-content">
                         <h6>Testimonials</h6>
                         <h2>Happy Clients Feedback</h2>
                         <figure class="mb-0">
                            <img src="{% static 'images/comma-icon.png' %}" alt="comma-icon" class="img-fluid">
                         </figure>
                         <div class="testimonials-inner-content">
                            <p>Quisruam est, qui dolorem ipsum quia dolor sit amet, consecteaur
                               aeci velit, sed quia non numquam eius modi tempora incidunt ut lao
                               magnam aliquam quaerat voluptatem reprehenderit in voluptate
                               cillum dolore eu fugiat nulla pariatur maxime...
                            </p>
                            <span class="d-block auther-name">Kevin Andrew</span>
                            <span class="d-block">CEO  of the company</span>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="testimonials-content">
                         <h6>Testimonials</h6>
                         <h2>Happy Clients Feedback</h2>
                         <figure class="mb-0">
                            <img src="{% static 'images/comma-icon.png' %}" alt="comma-icon" class="img-fluid">
                         </figure>
                         <div class="testimonials-inner-content">
                            <p>Quisruam est, qui dolorem ipsum quia dolor sit amet, consecteaur
                               aeci velit, sed quia non numquam eius modi tempora incidunt ut lao
                               magnam aliquam quaerat voluptatem reprehenderit in voluptate
                               cillum dolore eu fugiat nulla pariatur maxime...
                            </p>
                            <span class="d-block auther-name">Kevin Andrew</span>
                            <span class="d-block">CEO  of the company</span>
                         </div>
                      </div>
                   </div>
                   <div class="carousel-item">
                      <div class="testimonials-content">
                         <h6>Testimonials</h6>
                         <h2>Happy Clients Feedback</h2>
                         <figure class="mb-0">
                            <img src="{% static 'images/comma-icon.png' %}" alt="comma-icon" class="img-fluid">
                         </figure>
                         <div class="testimonials-inner-content">
                            <p>Quisruam est, qui dolorem ipsum quia dolor sit amet, consecteaur
                               aeci velit, sed quia non numquam eius modi tempora incidunt ut lao
                               magnam aliquam quaerat voluptatem reprehenderit in voluptate
                               cillum dolore eu fugiat nulla pariatur maxime...
                            </p>
                            <span class="d-block auther-name">Kevin Andrew</span>
                            <span class="d-block">CEO  of the company</span>
                         </div>
                      </div>
                   </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fas fa-arrow-left d-flex align-items-center justify-content-center"></i>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fas fa-arrow-right d-flex align-items-center justify-content-center"></i>
                <span class="sr-only">Next</span>
                </a>
             </div>
          </div>
       </div>
    </div>
 </section> -->
<!-- tastimonials section -->
<!-- blog section -->
<!-- <section class="w-100 float-left blog-con padding-top padding-bottom position-relative" id="blog">
    <div class="container">
       <div class="blog-inner-con position-relative">
          <div class="generic-title text-center">
             <h6>Latest News</h6>
             <h2 class="mb-0">Blog &amp; Articles</h2>
          </div>
          <div class="blog-box wow fadeInUp">
             <div class="row">
                <div class="col-lg-4">
                   <div class="blog-box-item">
                      <div class="blog-img">
                         <a href="#" data-toggle="modal" data-target="#blog-model-1">
                            <figure class="mb-0">
                               <img src="{% static 'images/blog-img-1.png' %}" alt="blog-img" class="img-fluid">
                            </figure>
                         </a>
                      </div>
                      <div class="blog-content">
                         <div class="blog-auteher-title">
                            <span>By David William</span>
                            <span class="float-lg-right">Mar 8, 2022</span>
                         </div>
                         <a href="#" data-toggle="modal" data-target="#blog-model-1">
                            <h4>Quis autem vea eum 
                               iure reprehenderit
                            </h4>
                         </a>
                         <p>Dolor repellendus temporibus autem 
                            quibusdam officiis debitis rerum nece
                            aibus minima veniam.
                         </p>
                         <a href="#" data-toggle="modal" data-target="#blog-model-1">Read More</a>
                      </div>
                   </div>
                </div>
                <div class="col-lg-4">
                   <div class="blog-box-item">
                      <div class="blog-img">
                         <a href="#" data-toggle="modal" data-target="#blog-model-2">
                            <figure class="mb-0">
                               <img src="{% static 'images/blog-img-2.png' %}" alt="blog-img" class="img-fluid">
                            </figure>
                         </a>
                      </div>
                      <div class="blog-content">
                         <div class="blog-auteher-title">
                            <span>By John Doe</span>
                            <span class="float-lg-right">Mar 9, 2022</span>
                         </div>
                         <a href="#" data-toggle="modal" data-target="#blog-model-2">
                            <h4>Reprehenderit in vouta
                               velit esse cillum
                            </h4>
                         </a>
                         <p>Dolor repellendus temporibus autem 
                            quibusdam officiis debitis rerum nece
                            aibus minima veniam.
                         </p>
                         <a href="#" data-toggle="modal" data-target="#blog-model-2">Read More</a>
                      </div>
                   </div>
                </div>
                <div class="col-lg-4">
                   <div class="blog-box-item mb-0">
                      <div class="blog-img">
                         <a href="#" data-toggle="modal" data-target="#blog-model-3">
                            <figure class="mb-0">
                               <img src="{% static 'images/blog-img-3.png' %}" alt="blog-img" class="img-fluid">
                            </figure>
                         </a>
                      </div>
                      <div class="blog-content">
                         <div class="blog-auteher-title">
                            <span>By Elina Parker</span>
                            <span class="float-lg-right">Mar 10, 2022</span>
                         </div>
                         <a href="#" data-toggle="modal" data-target="#blog-model-3">
                            <h4>Soluta nobis ose aligen
                            optio cumue
                         </h4>
                         </a>
                         <p>Dolor repellendus temporibus autem 
                            quibusdam officiis debitis rerum nece
                            aibus minima veniam.
                         </p>
                         <a href="#" data-toggle="modal" data-target="#blog-model-3">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section> -->
<!-- blog section -->
<!-- form section -->
<section class="w-100 float-left form-main-con padding-top padding-bottom" id="Contact">
   <div class="container">
      <div class="form-main-inner-con position-relative">
         <div class="generic-title text-center">
            <h6>Get in Touch</h6>
            <h2 class="mb-0">Any Questions? Feel Free<br>
               to Contact
            </h2>
         </div>
         <div class="row">
            <div class="col-lg-4 order-lg-0 order-2">
               <div class="contact-information position-relative wow slideInLeft">
                  <ul class="list-unstyled">
                     <li>
                        <figure class="mb-0 d-flex align-items-center justify-content-center">
                           <img src="{% static 'images/location-icon.png' %}" alt="location-icon" class="img-fluid">
                        </figure>
                        <div class="contact-information-content">
                           <h5>Address:</h5>
                           <a href="https://maps.app.goo.gl/fdzqm9i6FniBteVD8" target="_blank">
                              <p class="mb-0">Noida sector 66 Mamura,
                                 201301, Noida
                              </p>
                           </a>
                        </div>
                     </li>
                     <li>
                        <figure class="mb-0 d-flex align-items-center justify-content-center">
                           <img src="{% static 'images/message-icon.png' %}" alt="message-icon" class="img-fluid">
                        </figure>
                        <div class="contact-information-content">
                           <h5>Email:</h5>
                           <a href="mailto:anilmery21@gmail.com">
                              <p class="mb-0">anilmery21@gmail.com</p>
                           </a>
                           <a href="mailto:anil7379samar@gmail.com">
                              <p class="mb-0">anil7379samar@gmail.com</p>
                           </a>
                        </div>
                     </li>
                     <li class="mb-0">
                        <figure class="mb-0 d-flex align-items-center justify-content-center">
                           <img src="{% static 'images/phone-icon.png' %}" alt="phone-icon" class="img-fluid">
                        </figure>
                        <div class="contact-information-content">
                           <h5>Phone:</h5>
                           <a href="tel:+917379075400">
                              <p class="mb-0">+917379075400</p>
                           </a>
                           <a href="tel:+916386525099">
                              <p class="mb-0">+916386525099</p>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-8">

               <div id="form_result">

               </div>
               {% if error %}
               <p style="color: red;">{{ error }}</p>
               {% endif %}

               <form method="POST" class="contact-form wow slideInRight text-lg-left text-center">
                  {% csrf_token %}
                  <div class="row">
                     <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-0">
                           {{ form.name }}
                           {% if form.name.errors %}
                           <small class="form-text text-danger">{{ form.name.errors }}</small>
                           {% endif %}
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-0">
                           {{ form.email }}
                           {% if form.email.errors %}
                           <small class="form-text text-danger">{{ form.email.errors }}</small>
                           {% endif %}
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-0">
                           {{ form.phone }}
                           {% if form.phone.errors %}
                           <small class="form-text text-danger">{{ form.phone.errors }}</small>
                           {% endif %}
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-0">
                           {{ form.subject }}
                           {% if form.subject.errors %}
                           <small class="form-text text-danger">{{ form.subject.errors }}</small>
                           {% endif %}
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="form-group mb-0">
                           {{ form.message }}
                           {% if form.message.errors %}
                           <small class="form-text text-danger">{{ form.message.errors }}</small>
                           {% endif %}
                        </div>
                     </div>
                  </div>
                  <button type="submit" class="appointment-btn">Submit</button>
               </form>

            </div>
         </div>
      </div>
   </div>
</section>
<!-- form section -->

{% endblock %}